.noss-selectable,
.noss-selectable > * {
  outline: none;
}

.noss-selectable::selection,
.noss-selectable ::selection {
  background: var(--accent-dim);
}

/* Heading 1 */
.noss-header-block h1 {
  font-size: 1.875rem;
  font-weight: 700;
}
