body[data-drag='true'] .noss-selectable,
body[data-drag='true'] .noss-selectable > * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.noss-selectable {
  margin: 0.25rem 0;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.noss-selectable,
.noss-selectable > * {
  outline: none;
}

.noss-selectable::selection,
.noss-selectable ::selection {
  background: var(--accent-dim);
}

.noss-selectable p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Heading 1 */
.noss-header-block p {
  font-size: 1.875rem;
  font-weight: 700;
}
